/*------------------------------------*\
		01-settings
\*------------------------------------*/


/*-----------------------*\
		COLORS
\*-----------------------*/

// Old brand colors:

$color-primary:           #4bae77;
$color-primary-light-10:  #6cc091;
$color-primary-light-20:  #8dcca9;
$color-primary-light-30:  #c4e5d3;


// New brand colors:

$color-primary:           #97a830;
$color-primary-light-10:  lighten($color-primary, 25%);
$color-primary-light-20:  lighten($color-primary, 35%);
$color-primary-light-30:  lighten($color-primary, 50%);





// Neutral colors:

$color-light:                 #fff;
$color-light-transparent-50:  rgba($color-light, 0.5);
$color-dark:                  #000;


$color-grey-100:              #555;
$color-grey-200:              #9a9a9a;
$color-grey-300:              #bbb;
$color-grey-400:              #dbdbdb;

$color-grey-200-transparent:  rgba($color-grey-200, 0.075);





/*-----------------------*\
		MEDIA QUERIES
\*-----------------------*/

$breakpoints: (
  'xs':     480px,
  'sm':     736px,
  'md':     980px,
  'lg':     1280px,
  'xl':     1680px
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
