/*------------------------------------*\
		01-settings.colors
\*------------------------------------*/

$color-primary: #97a830;
$color-primary-light-10: lighten($color-primary, 40%);
$color-primary-light-20: lighten($color-primary, 50%);

$color-light: #fff;
$color-dark: #000;
