/*------------------------------------*\
		04-elements.form
\*------------------------------------*/

@import "01-settings";

$form-color: $color-grey-200;
$form-color-dark: $color-grey-100;
$form-color-light: $color-grey-300;

form {
  margin: 0 0 2em 0;
}

form .field-row {
  display: flex;
  flex-wrap: wrap;

  .field.half {
    display: block;
    width: 100%;

    @include mq('sm') {
      width: 48.5%;
    }

    &.first {
      @include mq('sm') {
        margin-right: 3%;
      }
    }
  }
}

form .field {
  margin-bottom: 1.5em;
}

label {
  display: none;
  margin: 0 0 1em 0;

  color: $form-color;
  font-size: 0.9em;
  font-weight: 600;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0 1em;
  outline: 0;
  appearance: none;

  background-color: transparent;
  border: solid 2px $form-color;
  border-radius: 10px;

  color: $form-color-dark;
  text-decoration: none;

  &::placeholder {
    color: $form-color !important;
  }

  &:invalid {
    box-shadow: none;
  }

  &:focus {
    background-color: rgba($form-color-light, 0.1);
    border-color: $form-color;
    box-shadow: 0 0 10px 0 rgba($form-color, .7);
  }
}

.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 2.75em;
    height: 2.75em;

    position: absolute;
    top: 0;
    right: 0;

    font-family: FontAwesome;
    color: $color-light;
    line-height: 2.75em;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-transform: none !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    pointer-events: none;
  }

  select::-ms-expand {
    display: none;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 2.75em;
}

textarea {
  padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;

  & + label {
    text-decoration: none;
    color: $color-grey-200;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative;

    &:before {
      content: '';
      display: inline-block;
      width: 1.65em;
      height: 1.65em;

      background: $color-grey-200-transparent;
      border: solid 1px $form-color;
      border-radius: 0;

      position: absolute;
      top: 0;
      left: 0;

      font-family: FontAwesome;
      line-height: 1.58125em;
      text-align: center;
      font-style: normal;
      font-weight: normal;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      text-transform: none !important;
    }
  }

  &:checked + label {
    &:before {
      background: $form-color;
      border-color: $form-color;
      color: $color-light;
      content: '\f00c';
    }
  }

  &:focus + label {
    &:before {
      border-color: $form-color;
      box-shadow: 0 0 0 1px $form-color;
    }
  }
}

input[type="checkbox"] + label:before {
  border-radius: 0;
}

input[type="radio"] + label:before {
  border-radius: 100%;
}

.formerize-placeholder {
  color: $form-color-light !important;
}
