/*------------------------------------*\
		04-elements.typography
\*------------------------------------*/

@import "01-settings";

body,
input,
select,
textarea {
  color: $color-grey-200;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: 400;
  line-height: 1.65;

  @include mq('xl', max) {
    font-size: 12pt;
  }
}

a {
  color: $color-primary-light-10;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

strong,
b {
  color: $color-grey-100;
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-grey-100;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 1em 0;

  a {
    color: inherit;
    text-decoration: none;
  }
}

h2 {
  font-size: 1.85em;
  font-weight: 300;
}

h3 {
  font-size: 1.75em;

  @include mq('xs', max) {

    h3 {
      font-size: 1.25em;
    }

  }
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.7em;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

blockquote {
  border-left: solid 4px $color-grey-400;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}

code {
  background: $color-grey-200-transparent;
  border-radius: 0;
  border: solid 1px $color-grey-400;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0;

  code {
    display: block;
    line-height: 1.75;
    padding: 1em 1.5em;
    overflow-x: auto;
  }
}

hr {
  border: 0;
  border-bottom: solid 1px $color-grey-400;
  margin: 2em 0;

  &.major {
    margin: 3em 0;
  }
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.inner {
  max-width: 75em;
  margin: 0 auto;

  @include mq('lg', max) {
    max-width: 90%;
  }

  @include mq('xs', max) {
    max-width: 90%;
  }
}
