/*------------------------------------*\
		05-objects.image
\*------------------------------------*/

@import "01-settings";

img {
  display: block;
  max-width: 100%;
}

.image {
  border-radius: 0;
  border: 0;
  display: inline-block;
  position: relative;

  &.left,
  &.right,
  &.fit,
  &.main {
    img {
      width: 100%;
    }
  }

  &.left,
  &.right {
    max-width: 40%;
    top: 0.25em;

    &.large {
      @include mq('sm', max) {
        max-width: 50%;
      }
    }
  }

  &.left {
    float: left;
    padding: 0 1em 1em 0;

    @include mq('xs') {
      padding: 0 1.5em 1em 0;
    }
  }

  &.right {
    float: right;
    padding: 0 0 1em 1em;

    @include mq('xs') {
      padding: 0 0 1em 1.5em;
    }
  }

  &.round {
    img {
      border-radius: 100%;
    }
  }

  &.fit {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
  }

  &.main {
    display: block;
    width: 100%;
    margin: 0 0 3em 0;
  }
}
