/*------------------------------------*\
		05-components.container
\*------------------------------------*/

.container {
  margin-left: auto;
  margin-right: auto;
}

.container.\31 25\25 {
                   width: 100%;
                   max-width: 100em;
                   min-width: 80em;
                 }

.container.\37 5\25 {
                  width: 60em;
                }

.container.\35 0\25 {
                  width: 40em;
                }

.container.\32 5\25 {
                  width: 20em;
                }

.container {
  width: 80em;
}

@media screen and (max-width: 1680px) {

  .container.\31 25\25 {
  width: 100%;
  max-width: 100em;
  min-width: 80em;
}

  .container.\37 5\25 {
  width: 60em;
}

  .container.\35 0\25 {
  width: 40em;
}

  .container.\32 5\25 {
  width: 20em;
}

  .container {
    width: 80em;
  }

}

@media screen and (max-width: 1280px) {

  .container.\31 25\25 {
  width: 100%;
  max-width: 81.25em;
  min-width: 65em;
}

  .container.\37 5\25 {
  width: 48.75em;
}

  .container.\35 0\25 {
  width: 32.5em;
}

  .container.\32 5\25 {
  width: 16.25em;
}

  .container {
    width: 65em;
  }

}

@media screen and (max-width: 980px) {

  .container.\31 25\25 {
  width: 100%;
  max-width: 112.5%;
  min-width: 90%;
}

  .container.\37 5\25 {
  width: 67.5%;
}

  .container.\35 0\25 {
  width: 45%;
}

  .container.\32 5\25 {
  width: 22.5%;
}

  .container {
    width: 90%;
  }

}

@media screen and (max-width: 736px) {

  .container.\31 25\25 {
  width: 100%;
  max-width: 112.5%;
  min-width: 90%;
}

  .container.\37 5\25 {
  width: 67.5%;
}

  .container.\35 0\25 {
  width: 45%;
}

  .container.\32 5\25 {
  width: 22.5%;
}

  .container {
    width: 90% !important;
  }

}

@media screen and (max-width: 480px) {

  .container.\31 25\25 {
  width: 100%;
  max-width: 112.5%;
  min-width: 90%;
}

  .container.\37 5\25 {
  width: 67.5%;
}

  .container.\35 0\25 {
  width: 45%;
}

  .container.\32 5\25 {
  width: 22.5%;
}

  .container {
    width: 90% !important;
  }

}
