/*------------------------------------*\
		06-components.review
\*------------------------------------*/

@import "01-settings";

.review {
  text-align: center;
}

.review__rating {
  margin-bottom: .5em;
}

.review__text {
  margin-bottom: .5em;
  position: relative;

  &:before {
    content: '"';
  }

  &:after {
    content: '"';
  }
}

.review__name {
  font-weight: bold;
  font-size: 80%;
}
