/*------------------------------------*\
		06-components.article
\*------------------------------------*/

section.special, article.special {
  text-align: center;
}

section.special article, article.special article {
  text-align: left;
}

section.wrapper, article.wrapper {
  padding: 6em 0;
}

section.wrapper header, article.wrapper header {
  margin-bottom: 4em;
}

section.wrapper header h2, article.wrapper header h2 {
  font-size: 2.75em;
  margin: 0 0 .5em 0;
}

section.wrapper header p, article.wrapper header p {
  font-size: 1em;
}

section.wrapper article header, article.wrapper article header {
  margin: 0;
}

@media screen and (max-width: 980px) {

  section.wrapper, article.wrapper {
    padding: 4em 0;
  }

}

@media screen and (max-width: 736px) {

  section.wrapper, article.wrapper {
    padding: 3em 0;
  }

  section.wrapper header, article.wrapper header {
    margin-bottom: 2em;
  }

  section.wrapper header h2, article.wrapper header h2 {
    font-size: 2em;
  }

  section.wrapper header p, article.wrapper header p {
    font-size: .9em;
  }

}

@media screen and (max-width: 480px) {

  section.wrapper article, article.wrapper article {
    text-align: center;
  }

}

header p {
  color: #bbb;
  position: relative;
  margin: 0 0 1.5em 0;
}

header h2 + p {
  font-size: 1.25em;
  margin-top: -1em;
}

header h3 + p {
  font-size: 1.1em;
  margin-top: -0.8em;
}

header h4 + p,
header h5 + p,
header h6 + p {
  font-size: 0.9em;
  margin-top: -0.6em;
}
