/*------------------------------------*\
		06-components.section-header
\*------------------------------------*/

@import "01-settings";

.section-header {

  &:not(:last-child) {
    margin-bottom: 2em;

    @include mq('sm') {
      margin-bottom: 4em;
    }
  }

  &--centered {
    @include mq('xs') {
      text-align: center;
    }
  }
}

.section-header__title {
  margin-bottom: .5em;
}

.section-header__subtitle {
  font-size: .9em;

  @include mq('sm') {
    font-size: 1em;
  }
}
