/*------------------------------------*\
		06-components.header
\*------------------------------------*/

@import "01-settings";

$color-header-bg-subpage: $color-primary-light-10;

.subpage {
  padding-top: 44px;
}


#header {
  width: 100%;

  position: absolute;
  top: 2em;
  left: 0;
  z-index: 10001;

  color: $color-light;
  text-align: right;

  @include mq('md', max) {
    top: 1em;
  }

  @include mq('sm', max) {
    top: .5em;
  }

  @include mq('xs', max) {
    font-size: .9em;
  }

  .subpage & {
    height: 44px;

    position: fixed;
    top: 0;

    background: $color-header-bg-subpage;
    line-height: 44px;
  }
}

.header__inner {
  display: flex;
  align-items: center;

  position: relative;
}
