/*------------------------------------*\
		06-components.footer
\*------------------------------------*/

@import "01-settings";

#footer {
  position: relative;

  background: url('../images/road.jpg') no-repeat center;
  background-size: cover;

  color: $color-grey-200;
  text-align: center;

  &:before {
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: rgba($color-primary-light-30, 0.92);
  }
}

.footer__inner {
  position: relative;
}

#footer h3 {
  margin-bottom: 2em !important;
}

#footer label {
  text-align: left;
}

#footer .copyright {
  font-size: 0.8em;
  padding: 0;
}

#footer .copyright a {
  text-decoration: none;
}
