/*------------------------------------*\
		06-components.nav-panel
\*------------------------------------*/

// Mobile navigation

@import "01-settings";

#navPanel {
  height: 100%;
  width: 20em;
  max-width: 80%;
  padding: 0.5em 1.25em;
  visibility: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  position: fixed;
  right: 0;
  top: 0;
  z-index: 10010;

  background: $color-primary;
  color: $color-primary-light-10;

  transform: translateX(20em);
  transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;

  &.visible {
    visibility: visible;
    box-shadow: 0 0 1.5em 0 rgba($color-dark, .2);
    transform: translateX(0);
  }
}

#navPanel .nav__link {
  display: block;
  padding: 0.75em 0;

  border-top: solid 1px $color-primary-light-20;

  color: $color-primary-light-10;
  font-weight: 400;

  &:first-child {
    border: none;
  }
}

.navPanel__close {
  padding: 1em;

  position: absolute;
  top: 0;
  right: 0;

  color: $color-light;
  text-decoration: none;

  transition: color 0.2s ease-in-out;

  &:hover {
    color: inherit;
  }
}





// Toggle button

.navPanelToggle {
  display: none;
  height: 4em;
  width: 4em;

  z-index: 10003;

  color: currentColor;
  text-decoration: none;

  @include mq('md', max) {
    display: inline-block;
  }
}

.navPanelToggle__icon {
  font-size: 1.25em;
}
