/*------------------------------------*\
		06-components.header
\*------------------------------------*/

@import "01-settings";

$color-header-bg-subpage: $color-primary-light-10;

#header {
  width: 100%;

  position: absolute;
  top: 2em;
  left: 0;
  z-index: 10001;

  color: $color-light;
  text-align: right;

  @include mq('lg', max) {
    top: 1em;
  }

  @include mq('xs', max) {
    font-size: .9em;
  }

  .subpage & {
    position: fixed;
    top: 0;

    background: $color-primary-light-20;
    box-shadow: rgba($color-dark, .1) 0 1px 10px 0;
    color: $color-grey-100;
  }
}

.header__inner {
  display: flex;
  align-items: center;

  position: relative;
}


// Set height of content coming after header
#header + .wrapper {
  margin-top: 115.5px;

  @include mq('lg', max) {
    margin-top: 88px;
  }

  @include mq('xs', max) {
    margin-top: 60px;
  }
}
