/*------------------------------------*\
		06-components.nav
\*------------------------------------*/

// Desktop navigation

@import "01-settings";

#nav {
  display: inline-flex;
  align-items: center;

  @include mq('md', max) {
    display: none;
  }
}

.nav__link {
  display: inline-block;
  padding: 0 0.75em;

  color: currentColor;
  font-size: 1em;
  text-decoration: none;

  transition: color 0.2s ease-in-out;

  @include mq('sm', max) {
    padding: 0 0.5em;
  }

  &:last-child {
    padding-right: 0;
  }

  &:hover {
    color: $color-primary-light-10;

    .subpage & {
      color: $color-grey-200;
    }
  }

  &.nav__link--icon {
    font-size: 1.5em;
  }
}
