/*------------------------------------*\
		09-utilities.align
\*------------------------------------*/

@import "01-settings";

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
