/*------------------------------------*\
		09-utilities.align
\*------------------------------------*/

@import "01-settings";

.inner {
  width: calc(100% - 80px);
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;

  @include mq('lg', max) {
    width: calc(100% - 60px);
  }

  &.u-inner--sm {
    max-width: 50em;
  }
}
