{% extends "layouts/default.njk" %}

{% block documentTitle %}404 - Side kan ikke findes. Nybys køreskole{% endblock %}
{% block documentDescription %}
  Nybys køreskole i Odense SØ vil være den bedste køreskole. Vi tilbyder spændende undervisning, fleksibilitet og rare kørelærere til overkommelig pris.
{% endblock %}
{% block documentKeywords %}
  køreskole, kørekort, odense, fyn
{% endblock %}

{% block bodyCLass %}subpage{% endblock %}


{% block content %}
  <!-- Three -->
  <article id="three" class="wrapper u-padding--ver">
    <header class="section-header section-header--centered u-inner">
      <h1 class="section-header__title">Siden blev ikke fundet</h1>
      <p class="section-header__subtitle">
        Det ser ud til at den side du søger, ikke kan findes.
        <br>
        <a href="/">Klik her, hvis du vil gå til forsiden</a>
      </p>
    </header>
  </article>
{% endblock %}
