{% extends "layouts/default.njk" %}

{% block documentTitle %}Om os{% endblock %}
{% block documentDescription %}
  Om Nybys køreskole, kørelæren
{% endblock %}
{% block documentKeywords %}
  om nybys køreskolen, info, køreskole, kørekort, odense, fyn
{% endblock %}

{% block bodyCLass %}subpage{% endblock %}


{% block content %}
  <!-- Three -->
  <article id="three" class="wrapper u-padding--ver">
    <header class="section-header section-header--centered u-inner">
      <h1 class="section-header__title">Om os</h1>
      <p class="section-header__subtitle">Hvis du ønsker god og spændende undervisning og kørekort til overkommelig pris, så kontakt os.</p>
    </header>

    <section class="u-block u-block--primary u-padding--ver-sm">
      <div class="u-inner u-inner--sm u-clearfix">
        <div class="image round right">
          <img src="./images/kim.jpg" alt="Pic 02" />
        </div>
        <h2>Kørelæreren</h2>
        <p>
          Mit navn er Kim Nyby, jeg er fra 1976. Min baggrund stammer fra salg og markedsføring samt undervisning i salg. Dette har givet et fantastisk indblik i hvordan forskellige mennesker lærer, og derfor tager undervisningen altid udgangspunkt i den enkelte elev og dennes behov.
        </p>
        <p>
          Jeg blev i 2012 uddannet kørerlærer og arbejder derfor i dag med min hobby, at undervise i min egen køreskole. Privat bor jeg i Ferritslev på Fyn sammen med min kæreste Camilla, min datter Clara og vores lille nye Storm.
        </p>
      </div>
    </section>

    <section class="u-block u-block--spacing-ver-sm">
      <div class="u-inner u-inner--sm">
        <h2>Biler</h2>
        <p>
          Vores ene bil er en Hyundai i 30 diesel med alt i udstyr. Utrolig lækker bil som er meget nem at køre med en lækker gearkasse, og en sprød & kærlig kobling.
        </p>
        <p>
          Vores anden er bil er en Hyundai i 10. Vi bliver i Korea og hopper nu ind i lillebror der er mindst lige så dejlig at futte rundt i. Lad jer ikke snyde af denne lille bandit, for som storebror er den super nem at køre, og kommer meget nemt rundt også på smalle steder alt dette samtidig med at den ikke mangler kræfter på motorvejen.
        </p>
      </div>

      <div class="u-block u-block--spacing-ver-sm u-inner">
        <section class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="./images/slider/car1.jpg" alt="Bilen"></div>
            <div class="swiper-slide"><img src="./images/slider/car5.jpg" alt="Bilen"></div>
            <div class="swiper-slide"><img src="./images/slider/car4.jpg" alt="Bilen"></div>
            <div class="swiper-slide"><img src="./images/slider/car6.jpg" alt="Bilen"></div>
            <div class="swiper-slide"><img src="./images/slider/car2.jpg" alt="Bilen"></div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </section>
      </div>

    </section>

  </article>
{% endblock %}
