{% extends "layouts/default.njk" %}

{% block documentTitle %}Om os{% endblock %}
{% block documentDescription %}
  Om Nybys køreskole, kørelæren
{% endblock %}
{% block documentKeywords %}
  om nybys køreskolen, info, køreskole, kørekort, odense, fyn
{% endblock %}

{% block bodyCLass %}subpage{% endblock %}


{% block content %}
  <!-- Three -->
  <article id="three" class="wrapper u-padding--ver">
    <header class="align-center">
      <div class="u-inner">
        <h1 class="section__title">Om os</h1>
        <p>Hvis du ønsker god og spændende undervisning og kørekort til overkommelig pris, så kontakt os.</p>
      </div>
    </header>

    <section class="u-block u-block--primary u-padding--ver-sm">
      <div class="u-inner u-inner--sm u-clearfix">
        <div class="image round right">
          <img src="/images/kim.jpg" alt="Pic 02" />
        </div>
        <h2>Kørelæreren</h2>
        <p>
          Mit navn er Kim Nyby, jeg er fra 1976. Min baggrund stammer fra salg og markedsføring samt undervisning i salg. Dette har givet et fantastisk indblik i hvordan forskellige mennesker lærer, og derfor tager undervisningen altid udgangspunkt i den enkelte elev og dennes behov.
        </p>
        <p>
          Jeg blev i 2012 uddannet kørerlærer og arbejder derfor i dag med min hobby, at undervise i min egen køreskole. Privat bor jeg i Ferritslev på Fyn sammen med min kæreste Camilla, min datter Clara og vores lille nye Storm.
        </p>
      </div>
    </section>

    <section class="u-block u-block--spacing-ver-sm">
      <div class="u-inner u-inner--sm">
        <h2>Bilen</h2>
        <p>
          Mit navn er Kim Nyby, jeg er fra 1976. Min baggrund stammer fra salg og markedsføring samt undervisning i salg. Dette har givet et fantastisk indblik i hvordan forskellige mennesker lærer, og derfor tager undervisningen altid udgangspunkt i den enkelte elev og dennes behov.
        </p>
        <p>
          Jeg blev i 2012 uddannet kørerlærer og arbejder derfor i dag med min hobby, at undervise i min egen køreskole. Privat bor jeg i Ferritslev på Fyn sammen med min kæreste Camilla, min datter Clara og vores lille nye Storm.
        </p>
      </div>
    </section>

  </article>
{% endblock %}
