{% extends "layouts/default.njk" %}

{% block documentTitle %}Uddannelsesforløb - Nybys køreskole, kørekort nemt og billigt{% endblock %}
{% block documentDescription %}
  Nybys køreskole i Odense SØ vil være den bedste køreskole med Odenses laveste dumpeprocenter til overkommelig pris. Læs om vores uddannelsesforløb her!
{% endblock %}
{% block documentKeywords %}
  uddannelse, forløb, uddannelsesforløb hos nybys køreskole, køreskole, kørekort, odense, fyn
{% endblock %}

{% block bodyCLass %}subpage{% endblock %}


{% block content %}
  <!-- Three -->
  <article id="three" class="wrapper u-padding--ver">
    <header class="section-header section-header--centered u-inner">
      <h1 class="section-header__title">Uddannelsesforløb</h1>
    </header>

    <section class="u-block u-block--spacing-ver-sm u-inner u-inner--sm">
      <p>Som elev skal du følge et fastlagt uddannelsesforløb. Du kan følge dette i din lektionsplan som du får udleveret. Hos Nyby's køreskole undervises efter den gældende lovgivning. Der bliver ikke "snydt" med lektionsplaner eller sprunget over hvor gærdet er lavest.</p>
    </section>

    <section class="u-block u-block--primary u-padding--ver-sm">
      <div class="u-inner u-inner--sm u-clearfix">
        <header class="section-title">
          <h2 class="section-header__title">1. Teoriundervisning</h2>
        </header>
        <div class="image right large">
          <img src="./images/building.jpg" alt="Bygning hvor teroriundervisningen foregår" />
        </div>
        <p>
          Teoriundervisningen er en kombination af "den gode gamle tavle undervisning" og det nyeste inden for IT undervisning. Det bedste fra begge verdener, hvor der også vil være mulighed for, at studere hjemmefra. Holdninger bliver diskuteret frit og uden fordomme og alle faremomenter en ny billist skal lære at genkende bliver gennemgået.
        </p>
        <p>
          <strong>Vi starter kl. 17.00 og slutter ca. kl. 20.00. </strong><br>
        </p>
        <p>
          <strong>Der er to undervisningshold, som starter forskudt af hinanden, mandag og onsdag.</strong>
        </p>
      </div>
    </section>

    <section class="u-block u-block--spacing-ver-sm">
      <div class="u-inner u-inner--sm">
        <header class="section-title">
          <h2 class="section-header__title">2. Manøvrebane</h2>
        </header>
        <p>
          Første gang du skal bag rettet, vil dette foregå på manøvrebane, dette aftaler vi tid til inden for de første 2 uger.
        </p>
        <div class="image left large">
          <img src="./images/maneuver-course.jpg" alt="Oversigt over manøvrebanen" />
        </div>
        <p>
          Manøvrebanen er en lukket øvelsesplads, hvor du lærer nogle grundlæggende færdigheder, som bla. indeholder igangsætning, målbremsning, parkering m.m.
        </p>
        <p>
          Man sidder 1 elev i hver bil og kommer af sted i hold af 3 eller 4 elever. Forløbet varer 4 x 45 min. Denne del er lovpligtig, og efter manøvrebane er du klar til første tur på vejen.
        </p>
        <p>
          Både manøvrebanen og køreteknisk anlægget ligger i Ellested.
        </p>
      </div>
    </section>

    <section class="u-block u-block--primary u-bg--mashup u-padding--ver-sm" style="background-image: url('./images/lg-car.jpg')">
      <div class="u-bg--mashup__content u-inner u-inner--sm u-clearfix">
        <header class="section-title">
          <h2 class="section-header__title">3. Køreteknisk anlæg</h2>
        </header>
        <p>
          Du skal som noget af det sidste før køreprøven, gennemgå 4 lektioners obligatorisk kursus på køreteknisk anlæg.
        </p>
        <p>
          Her vil du lærer at føre bil i forskellige situationer, både på glat vej og på tør vej og gennem øvelser finde ud af hvad dette har af betydning for dig.
        </p>
      </div>
    </section>

    <section class="u-block u-block--spacing-ver-sm">
      <div class="u-inner u-inner--sm">
        <header class="section-title">
          <h2 class="section-header__title">4. Førstehjælp</h2>
        </header>
        <p>
          I 2006 blev det færdselsrelateret førstehjælp obligatorisk, for alle første gangs bilister. Du skal have gennemført et 8 timers færdselsrelateret førstehjælpskursus. Hvis du har taget kurset inden for det sidste år, behøver du ikke gennemfører et nyt, men bare medbringe beviset til undervisningen.
        </p>
        <p>
          Hos Nybys køreskole er færdselsrelateret førstehjælp med i prisen så vi pålægger ikke et ekstragebyr for dette.
        </p>
      </div>
    </section>

    <section class="u-block u-block--primary u-padding--ver-sm">
      <div class="u-inner u-inner--sm">
        <header class="section-title">
          <h2 class="section-header__title">5. Teoriprøve</h2>
        </header>
        <p>
          Når du er klar til teoriprøve, melder jeg dig til prøve, prøven varer ca. en halv time. Du vil til teoriundervisningen prøve at lave flere teoriprøver, så du ved hvordan de foregår når du skal til prøve.
        </p>
        <p>
          Du må maks. have 5 fejl i prøven.
        </p>
        <h3>
          Du skal til teoriprøven medbringe:
        </h3>
        <ul>
          <li>
            Din ansøgning til kørekort, som du vil få udleveret af mig
          </li>
          <li>
            Din lektionsplan
          </li>
          <li>
            Gyldigt pas, eller dåbsattest + billedlegitimation
          </li>
        </ul>
      </div>
    </section>

    <section class="u-block u-block--spacing-ver-sm">
      <div class="u-inner u-inner--sm u-clearfix">
        <header class="section-title">
          <h2 class="section-header__title">6. Køreprøve</h2>
        </header>
        <div class="image right">
          <img src="./images/exam.jpg" alt="Glad person løfter arm i bilen" />
        </div>
        <p>
          Før du kan blive indstillet til køreprøve, skal teoriprøven være bestået.
        </p>
        <p>
          Den praktiske prøve foretages i skolevognen og starter fra Billedskærevej i Odense. Prøven starter med, at den prøvesagkyndige kontrollerer din identitet og stiller dig en række spørgsmål om kontrol af køretøjets udstyr.
        </p>
        <p>
          Derefter skal du køre i minimum 25 minutter. Efter kørslen vil den prøvesagkyndige evaluere forløbet og fortælle dig, om du er dumpet eller bestået.
        </p>
        <p>
          Den praktiske prøve kan tidligst aflægges, når du er fyldt 17 år.
        </p>
        <h3>
          Består du
        </h3>
        <p>
          Er prøven bestået, får du på stedet et midlertidigt kørekort. Senere modtager du det rigtige kørekort fra politiet.
        </p>
        <h3>
          Dumper du
        </h3>
        <p>
          Hvis du enten dumper den teoretiske eller praktiske prøve, skal du betale et nyt prøvegebyr modtager du som et link i din E-boks og der kan ikke bookes prøve før dette er betalt.
        </p>
      </div>
    </section>

  </article>
{% endblock %}
