{% extends "layouts/default.njk" %}

{% block documentTitle %}Forside{% endblock %}
{% block documentDescription %}
  Nybys køreskole, få kørekort hos byens rareste kørelærer
{% endblock %}
{% block documentKeywords %}
  køreskole, kørekort, odense, fyn, lære, køre
{% endblock %}

{% block bodyCLass %}{% endblock %}


{% block content %}
  <!-- Banner -->
  <section id="banner">
    <div class="banner__inner u-inner u-padding--ver">
      <header class="banner__header">
        <h1 class="banner__title">Velkommen til Nybys køreskole</h1>
        <p class="banner__text">God og spændende undervisning, rar kørerlærer, overkommelig pris i Odense SØ.</p>
      </header>

      <div class="banner__content flex flex-3">
        <div class="banner__column flex__cell">
          <span class="banner__icon icon fa-thumbs-up"></span>
          <h3 class="banner__subtitle">Bestå første gang</h3>
          <p class="banner__text">Vi har en af de højeste beståelsesprocenter i Odense</p>
        </div>

        <div class="banner__column flex__cell">
          <span class="banner__icon icon fa-users"></span>
          <h3 class="banner__subtitle">Eleven er i centrum</h3>
          <p class="banner__text">Fleksible kørseltider, afhentning, børn kan køre med</p>
        </div>

        <div class="banner__column flex__cell">
          <span class="banner__icon icon fa-phone-square"></span>
          <h3 class="banner__subtitle">Kontakt os</h3>
          <p class="banner__text">Fang os dagen langt på <br><a href="tel:004522255152">22 25 51 52</a></p>
        </div>
      </div>

      <footer>
        <a href="prices.html" class="button">Se vores priser</a>
      </footer>
    </div>
  </section>

  <!-- Three -->
  <section id="three" class="wrapper align-center">
    <div class="u-inner">
      <div class="flex flex-2">
        <article>
          <div class="image round">
            <img src="/images/team.jpg" alt="Undervisningslokalet" />
          </div>
          <header>
            <h3>Holdinfo</h3>
          </header>
          <p>
            <strong>Undervisningsdage:</strong> <br>
            mandage & onsdage, kl. 17:00 til 20:00
          </p>
          <p>
            <strong>Holdstart:</strong> <br>
            Én gang om måneden
          </p>
          <footer>
            <a href="#" class="button">Læs mere</a>
          </footer>
        </article>
        <article>
          <div class="image round">
            <img src="/images/car3.jpg" alt="Bøger og en kaffe" />
          </div>
          <header>
            <h3>Tilbud</h3>
          </header>
          <p>
            <strong>Fuld lovpakke:</strong><br>
            Færdselsrelateret førstehjælp <br>
            Grupperabat: kr. 500 pr. person
          <p>
            <strong>Kun kr. 12.300</strong>
          </p>
          <footer>
            <a href="#" class="button">Læs mere</a>
          </footer>
        </article>
      </div>
    </div>
  </section>
{% endblock %}
