{% extends "layouts/default.njk" %}

{% block documentTitle %}Priser{% endblock %}
{% block documentDescription %}
  Priser af lovpakken, kørekort hos Nybys køreskole
{% endblock %}
{% block documentKeywords %}
  priser, lovpakke, lovpakken, kørekort, odense, fyn
{% endblock %}

{% block bodyCLass %}subpage{% endblock %}


{% block content %}
  <!-- Three -->
  <article id="three" class="wrapper u-padding--ver">
    <header class="section-header section-header--centered u-inner">
      <h1 class="section-header__title">Priser for kørekort</h1>
    </header>

    <section class="u-block u-inner u-inner--sm">
      <h2>Personbil Kategori B</h2>
      <p style="font-size: 1.5em;"><strong>Pris: 12.900 kr.</strong></p>
      <div class="flex flex-2 featured">
        <div>
          <p><strong>Lovpakken indeholder:</strong></p>
          <ul>
            <li>29 teorilektioner</li>
            <li>16 kørelektioner i skolevognen</li>
            <li>4 lektioner på manøvrebane</li>
            <li>4 lektioner på køreteknisk anlæg</li>
          </ul>
        </div>
        <div>
          <p><strong>Øvrige udgifter relateret til kørekortet:</strong></p>
          <ul>
            <li>Pasfoto: ca. 70 kr.</li>
            <li>Lægeerklæring: ca. 350 kr.</li>
            <li>Evt. ekstra kørelektion pr. lektion: 450 kr.</li>
            <li>Prøvegebyr pr. prøve: 600 kr.</li>
            <li>Færdselsrelateret førstehjælpskursus: 525 kr.</li>
          </ul>
        </div>
      </div>
      <p>
        <strong>Tilbud:</strong>
        Tag en ven/veninde med og spar penge. Starter i flere på samme hold, får i 500 kr. i rabat hver!
      </p>
    </section>

  </article>
{% endblock %}
