{% extends "layouts/default.njk" %}

{% block documentTitle %}Generhverv{% endblock %}
{% block documentDescription %}
  Om Nybys køreskole, kørelæren
{% endblock %}
{% block documentKeywords %}
  om nybys køreskolen, info, køreskole, kørekort, odense, fyn
{% endblock %}

{% block bodyCLass %}subpage{% endblock %}


{% block content %}
  <!-- Three -->
  <article id="three" class="wrapper u-padding--ver">
    <header class="section-header section-header--centered u-inner">
      <h1 class="section-header__title">Generhvervelse af kørekort</h1>
    </header>

    <section class="u-block u-block--spacing-ver-sm u-inner u-inner--sm u-clearfix">
      <div class="image right">
        <img src="./images/recovery.jpg" alt="En bil der kører på vejen med en regnbue i baggrunden" />
      </div>
      <header class="section-title">
        <h2 class="section-header__title">Generverv betinget eller ubetinget</h2>
      </header>
      <p>
        Selvfølgelig hjælper vi også folk tilbage til kørekort igen.
      </p>
      <p>
        <strong>Kontakt køreskolen for tilbud.</strong>
      </p>
    </section>

    <section class="u-block u-block--primary u-padding--ver-sm">
      <div class="u-inner u-inner--sm">
        <header class="section-title">
          <h2 class="section-header__title">Kørselsforbud</h2>
        </header>
        <p>
          Har du fået kørselsforbud, skal du gennemføre en særlig køreundervisning, samt bestå en kontrollerende køreprøve.
        </p>
        <p>
          <strong>Køreundervisningen består af:</strong>
        </p>
        <ul>
          <li>8 lektioners teori</li>
          <li>8 kørelektioner</li>
        </ul>
        <p>
          Undervisningen skal være fordelt over 8 undervisningsdage.
        </p>
        <p>
          Den kontrollerende køreprøve består af <strong>teoriprøven</strong> og <strong>køreprøven</strong>.
        </p>
        <p>
          Hvis du har fået kørselsforbud som følge af spirituskørsel, skal du i stedet for den særlige køreundervisning gennemføre et Alkohol og Trafikkursus (A/T kursus), før du kan gå til den kontrollerende køreprøve.
        </p>
        <p>
          <strong>Kontakt køreskolen for tilbud.</strong>
        </p>
      </div>
    </section>

  </article>
{% endblock %}
