{% extends "layouts/default.njk" %}

{% block documentTitle %}Tilmelding{% endblock %}
{% block documentDescription %}
  Om Nybys køreskole, kørelæren
{% endblock %}
{% block documentKeywords %}
  om nybys køreskolen, info, køreskole, kørekort, odense, fyn
{% endblock %}

{% block bodyCLass %}subpage{% endblock %}


{% block content %}
  <!-- Three -->
  <section id="three" class="wrapper u-padding--ver">
    <div class="u-inner u-inner--sm">
      <header class="align-center">
        <h1 class="section__title">Tilmelding</h1>
        <p>Indhold på vej...</p>
      </header>
    </div>
  </section>
{% endblock %}
