{% extends "layouts/default.njk" %}

{% block documentTitle %}Tilmelding - Nybys køreskole, se næste holdstart i Odense SØ{% endblock %}
{% block documentDescription %}
  Nybys køreskole starter nyt hold ca. én gang om måneden, så du kan starte når det passer ind i dine planer. Kontakt os for kommende hold og om der er ledige pladser!
{% endblock %}
{% block documentKeywords %}
  tilmeldning, tilmeld dig, hold, holdstart, datoer, ledige pladser, info, kontakt, køreskole, kørekort, odense, fyn
{% endblock %}

{% block bodyCLass %}subpage{% endblock %}


{% block content %}
  <!-- Three -->
  <article id="three" class="wrapper u-padding--ver">
    <header class="section-header section-header--centered u-inner">
      <h1 class="section-header__title">Tilmelding</h1>
      <p class="section-header__subtitle">Vi har holdstart ca. én gang om måneden, så du kan starte når det passer ind i dine planer.
        <br>
        Undervisningsdage: mandage & onsdage, kl. 17:00 til 20:00.
        <br>
        For nærmere information og konkrete datoer, kontakt os på formularen nedenunder, eller på <a href="tel:004522255152">+45 22 25 51 52</a>.</p>
    </header>
  </article>
{% endblock %}
