<section class="u-block u-block--spacing-ver-sm u-inner">

  <h2 class="align-center">Anmeldelser fra Facebook</h2>

  <div class="swiper-container slider--reviews js-swiper-reviews">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <article class="review">
          <div class="review__rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p class="review__text">Kim er en sand fornøjelse at tage kørekort hos. Der er ingen fare for at kede sig til hans timer samtidig med læringen er i top. Bedste anbefalinger herfra</p>
          <h3 class="review__name">Louise A Olsen</h3>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="review">
          <div class="review__rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p class="review__text">Fantastisk kørelærer, jeg kunne ikke have valgt et bedre sted.</p>
          <h3 class="review__name">Lisa Brygger</h3>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="review">
          <div class="review__rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p class="review__text">Fremragende, fantastisk og ikke mindst unik kørerlærer, som uden den mindste tvivl har styr sit fag. Kan kun anbefales!</p>
          <h3 class="review__name">Frederik Buk Henriksen</h3>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="review">
          <div class="review__rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p class="review__text">Mega god kørelærer, undervisning er super og køretimerne er hyggelige samtidig med læringen.</p>
          <h3 class="review__name">Martin Rasmussen</h3>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="review">
          <div class="review__rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p class="review__text">Mega fed køreskole, med mega cool Kørelære! Mega god måde og få lært teori og mega hygge ture ude på vejene. Og lidt bonus, en Kørelære der vil sine elever det bedste</p>
          <h3 class="review__name">Michael Fischer</h3>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="review">
          <div class="review__rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p class="review__text">Fuldstændig fantastisk køreskole! Sjov og underholdende teori- og køreundervisning. Kan helt klart anbefales!</p>
          <h3 class="review__name">Kasper Jørgensen</h3>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="review">
          <div class="review__rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p class="review__text">Kunne ikke have valgt et bedre sted! God og sjov undervisning, ingen fare for at falde i søvn her!</p>
          <h3 class="review__name">Cathrine Sander Nielsen</h3>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="review">
          <div class="review__rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p class="review__text">Tror ikke der findes et bedre sted at tage kørekort end hos Kim! Sjoveste teoritimer og de hyggeligste kørelektioner :) Kan klart anbefales!</p>
          <h3 class="review__name">Cecilie Knudsen</h3>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="review">
          <div class="review__rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p class="review__text">Fantastisk kørelærer, altid rar og kæmpe humørbombe. Teoritimerne er ikke kedelige, men med fuld fart over feltet, med humor og alvor. Ekstrem god køreskole</p>
          <h3 class="review__name">Christina Jensen</h3>
        </article>
      </div>
    </div>
  </div>

  <div class="align-center u-margin--top-sm">
    <a href="https://www.facebook.com/pg/nybyskoreskole/reviews/" target="_blank" rel="noopener">Læs alle anmeldelser</a>
  </div>
</section>
