<!doctype html>
<html lang="da-DK">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{% block documentDescription %}{% endblock %}">
    <meta name="keywords" content="{% block documentKeywords %}{% endblock %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block documentTitle %}{% endblock %} - Nybys køreskole</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->

  </head>
  <body class="{% block bodyCLass %}{% endblock %}">

  <!-- Header -->
  <header id="header">
    <div class="inner">
      <a href="index.html" class="logo"><strong>Projection</strong> by TEMPLATED</a>
      <nav id="nav">
        <a href="index.html">Home</a>
        <a href="article.html">Generic</a>
        <a href="about.html">Elements</a>
      </nav>
      <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
  </header>

  <!-- Page-related content -->
  {% block content %}{% endblock %}

  <!-- Footer -->
  <footer id="footer">
    <div class="inner">

      <h3>Get in touch</h3>

      <form action="#" method="post">

        <div class="field half first">
          <label for="name">Name</label>
          <input name="name" id="name" type="text" placeholder="Name">
        </div>
        <div class="field half">
          <label for="email">Email</label>
          <input name="email" id="email" type="email" placeholder="Email">
        </div>
        <div class="field">
          <label for="message">Message</label>
          <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
        </div>
        <ul class="actions">
          <li><input value="Send Message" class="button alt" type="submit"></li>
        </ul>
      </form>

      <div class="copyright">
        &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
      </div>

    </div>
  </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!--<script>-->
      <!--(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=-->
      <!--function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;-->
      <!--e=o.createElement(i);r=o.getElementsByTagName(i)[0];-->
      <!--e.src='https://www.google-analytics.com/analytics.js';-->
      <!--r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));-->
      <!--ga('create','UA-XXXXX-X');ga('send','pageview');-->
    <!--</script>-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/skel/src/skel.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="/scripts/util.js"></script>
    <script src="/scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
