<!doctype html>
<html lang="da-DK">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{% block documentDescription %}{% endblock %}">
    <meta name="keywords" content="{% block documentKeywords %}{% endblock %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block documentTitle %}{% endblock %} - Nybys køreskole</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/bower_components/swiper/dist/css/swiper.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->

  </head>
  <body class="{% block bodyCLass %}{% endblock %}">

  <!-- Header -->
  <header id="header">
    <div class="header__inner u-inner">
      <a class="logo" href="index.html">
        <h6 class="u-hide">Nybys køreskole</h6>
        <img class="logo__asset" src="./images/logo.png" alt="Nybys køreskole logo">
      </a>
      <nav id="nav">
        <h6 class="u-hide">Sidenavigation</h6>
        <a class="nav__link" href="about.html">Om os</a>
        <a class="nav__link" href="education.html">Uddannelsesforløb</a>
        <a class="nav__link" href="recovery.html">Generhverv</a>
        <a class="nav__link" href="prices.html">Priser</a>
        <a class="nav__link" href="registration.html">Tilmelding</a>
        <a class="nav__link" href="contact.html">Kontakt os</a>
        <a class="nav__link nav__link--icon" href="https://www.facebook.com/nybyskoreskole/" target="_blank">
          <span class="fa fa-facebook-square"></span>
        </a>
      </nav>
      <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars navPanelToggle__icon"></span></a>
    </div>
  </header>

  <!-- Page-related content -->
  {% block content %}{% endblock %}

  <!-- Footer -->
  <footer id="footer" class="u-bg--mashup">
    <div class="footer__inner u-bg--mashup__content u-inner u-inner--sm u-padding--ver-sm">

      <h3>Kontakt os</h3>

      <form action="#" method="post">

        <div class="field half first">
          <label for="name">Navn</label>
          <input name="name" id="name" type="text" placeholder="Navn">
        </div>
        <div class="field half">
          <label for="email">Email</label>
          <input name="email" id="email" type="email" placeholder="Email">
        </div>
        <div class="field">
          <label for="message">Besked</label>
          <textarea name="message" id="message" rows="6" placeholder="Besked"></textarea>
        </div>
        <ul class="actions">
          <li><input class="button dark" value="Send besked" type="submit"></li>
        </ul>
      </form>

      <div class="copyright">
        &copy; Nybys Køreskole 2018.
      </div>

    </div>
  </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!--<script>-->
      <!--(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=-->
      <!--function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;-->
      <!--e=o.createElement(i);r=o.getElementsByTagName(i)[0];-->
      <!--e.src='https://www.google-analytics.com/analytics.js';-->
      <!--r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));-->
      <!--ga('create','UA-XXXXX-X');ga('send','pageview');-->
    <!--</script>-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/skel/src/skel.js"></script>
    <script src="/bower_components/swiper/dist/js/swiper.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="/scripts/util.js"></script>
    <script src="/scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
