<!doctype html>
<html lang="da-DK">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110573041-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110573041-2');
    </script>

    <meta charset="utf-8">
    <meta name="description" content="{% block documentDescription %}{% endblock %}">
    <meta name="keywords" content="{% block documentKeywords %}{% endblock %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block documentTitle %}{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="57x57" href="./images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicons/favicon-16x16.png">
    <link rel="manifest" href="./images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/bower_components/swiper/dist/css/swiper.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->

  </head>
  <body class="{% block bodyCLass %}{% endblock %}">

  <!-- Header -->
  <header id="header">
    <div class="header__inner u-inner">
      <a class="logo" href="/">
        <h6 class="u-hide">Nybys køreskole</h6>
        <img class="logo__asset" src="./images/logo.png" alt="Nybys køreskole logo">
      </a>
      <nav id="nav">
        <a class="nav__link" href="about.html">Om os</a>
        <a class="nav__link" href="education.html">Uddannelsesforløb</a>
        <a class="nav__link" href="recovery.html">Generhverv</a>
        <a class="nav__link" href="prices.html">Priser</a>
        <a class="nav__link" href="registration.html">Tilmelding</a>
        <a class="nav__link" href="contact.html">Kontakt</a>
        <a class="nav__link nav__link--icon"
           href="https://www.facebook.com/nybyskoreskole/"
           target="_blank"
           rel="noopener"
           title="Facebook">
          <span class="fa fa-facebook-square"></span>
        </a>
        <h6 class="u-hide">Sidenavigation</h6>
      </nav>
      <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars navPanelToggle__icon"></span></a>
    </div>
  </header>

  <!-- Page-related content -->
  {% block content %}{% endblock %}

  <!-- Footer -->
  <footer id="footer" class="u-bg--mashup">
    <div class="footer__inner u-bg--mashup__content u-inner u-inner--sm u-padding--ver-sm">

      <h3>Kontakt os</h3>

      <form action="https://www.enformed.io/o1yxc7d2" method="POST">

        <div class="field-row">
          <div class="field half first">
            <label for="name">Navn</label>
            <input name="name" id="name" type="text" placeholder="Navn" required>
          </div>
          <div class="field half">
            <label for="email">Email</label>
            <input name="email" id="email" type="email" placeholder="Email" required>
          </div>
        </div>

        <div class="field">
          <label for="message">Besked</label>
          <textarea name="message" id="message" rows="6" placeholder="Besked" required></textarea>
        </div>
        <ul class="actions">
          <li><input class="button dark" value="Send besked" type="submit"></li>
        </ul>

        <input type="hidden" name="*default_email" value="kmnyby@gmail.com" />
        <input type="hidden" name="*subject" value="Nybyskøreskole.dk kontakt-mail" />
        <input type="hidden" name="*honeypot" />
      </form>

      <div class="copyright">
        &copy; Nybys Køreskole. Tlf: <a href="tel:004522255152">2225 5152</a>
      </div>

    </div>
  </footer>

  <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/skel/src/skel.js"></script>
    <script src="/bower_components/swiper/dist/js/swiper.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="/scripts/util.js"></script>
    <script src="/scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
