<!doctype html>
<html lang="da-DK">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Nybys køreskole, få kørekort hos byens rareste kørelærer">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nybys køreskole</title>

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="/styles/main.css">
  <!-- endbuild -->

</head>
<body>
